body{
  margin: 0;
  font-family: 'Open Sans';
  overflow-x: hidden;
}

header{
  background-color: #f6e0b5;
}

.content{
  position: sticky;
  width: 60%;
  margin: auto;
  padding-top: 90px;
  padding-bottom: 90px;
}

.footer{
  position: relative;
  height: 130px;
  width: 100%;
  background-color: #eea990;
  color: #fff;
  text-align: center;
  padding: 20px;
  bottom: 0;
}
.contextual-region a{
  font-size: 20px;
  color: #fff;
}
#block-first-branding a{
  font-size: 20px
  color: #fff;
}

.heading{
  color: #fff;
  font-size: 30px;
  width: 100%;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 20px;
}

#block-first-main-menu ul li{
  padding: 10px;
  width:10%;
  display: inline-block;
  position: absolute;
  text-align: center;
  font-size: 20px;
  text-decoration: none;
  color: #000;
  background-color: #E6DADA;
  border: 2px solid #E6DADA;
  transition: 500ms;
}